---
import i18next, { t } from "i18next";
import { LanguageSelector } from "astro-i18next/components";
import { Suscribe } from "./Suscribe";

const lang = i18next.language;
const base = lang === "es" ? "" : `/${lang}`;
---

<footer class="bg-white dark:bg-transparent  bg-gradient-to-r from-violet-500 via-violet-600 to-violet-800 focus:ring-violet-900 dark:focus:ring-violet-800">
  <div class="mx-auto w-full max-w-screen-xl p-2 py-6 lg:px-10 lg:py-8">
    <div
      class="lg:flex grid place-items-center items-start md:justify-between justify-evenly"
    >
      <div class="mb-6 md:mb-0">
        <a
          href={`${base}/`}
          class="flex items-center space-x-3 rtl:space-x-reverse mb-8"
        >
          <img
            src="/img/worldseafood_logo.webp"
            class="w-[200px] lg:w-[350px] lg:h-15 lg:py-2"
            alt="Worldseafood"
          />
        </a>
        <div class="flex mt-4 justify-between sm:mt-0">
          <a
            href="https://www.facebook.com/WorldSeafoodIndustry/" target="_blank"
            class="text-gray-100 hover:text-gray-900 dark:hover:text-white"
          >
            <img src="/img/facebook.webp" alt="" width="30px">
              <path
                fill-rule="evenodd"
                d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="sr-only">Facebook page</span>
          </a>
          <a
          href="https://www.instagram.com/worldseafoodin/" target="_blank"
          class="text-gray-100 hover:text-gray-900 dark:hover:text-white"
        >
          <img src="/img/instagram.webp" alt="" width="30px">
            <path
              fill-rule="evenodd"
              d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Facebook page</span>
          </a>
          <a
        href="https://www.linkedin.com/company/world-seafood-industry/" target="_blank"
        class="text-gray-100 hover:text-gray-900 dark:hover:text-white"
      >
        <img src="/img/linkedin.webp" alt="" width="30px">
          <path
            fill-rule="evenodd"
            d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"
            clip-rule="evenodd"></path>
        </svg>
        <span class="sr-only">Facebook page</span>
          </a>
        </div>
      </div>
      <div class="">
        <div class="flex lg:flex-row flex-col items-center justify-center lg:text-left text-center">
          <div class="w-full sm:w-1/4 mb-4">
            <address>
              <h3 class="text-xl text-white font-bold mb-2">World Seafood México 2024</h3>
              <p class="text-white" set:html={t("footer.event_date")} />
            </address>
            <address>
              <p class="text-xl font-medium text-white pt-4 mb-2">{t("footer.title")}</p>
              <p class="text-white flex lg:justify-start justify-center">
                <svg
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  ><path
                    d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                  ></path><path
                    d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                  ></path>
                </svg>
                <a class="ps-2 hover:underline" href="mailto:infoagrotechwsi@igeco.mx	">
                  infoagrotechwsi@igeco.mx</a
                >
              </p>
              <p class="text-white flex lg:justify-start justify-center">
                <svg
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                >
                  <path
                    fill-rule="evenodd"
                    d="M7 2a2 2 0 00-2 2v12a2 2 0 002 2h6a2 2 0 002-2V4a2 2 0 00-2-2H7zm3 14a1 1 0 100-2 1 1 0 000 2z"
                    clip-rule="evenodd"
                  >
                  </path>
                </svg> +52 55 7028 3335 ext. 824
              </p>
            </address>
          </div>
          <!-- FORMULARIO PARA BOLETIN -->
          <div class="w-full sm:w-3/5">
            <Suscribe
              description={t('footer.description_suscribe')}
              suscribe_label={t('footer.suscribe_label')}
              button={t('footer.suscribe_button')}
              client:only
            />
          </div>
        </div>
        <!-- MENU DE NAVEGACIÓN -->
        <nav class="bg-white border-gray-200 order-1 dark:bg-transparent px-2 sm:px-4 py-2.5">
          <div
            class="flex flex-wrap items-center justify-between max-w-screen-xl mx-auto p-4"
          >
            <div class="flex items-center md:order-2 button-language mx-10">
              {
                i18next.language === "en" ? (
                  <img
                    src="/img/flag-us.svg"
                    alt="us flag"
                    class="h-6 w-6 rounded-full mr-2"
                  />
                ) : (
                  <img
                    src="/img/flag-mexico.svg"
                    alt="México flag"
                    class="h-6 w-6 rounded-full mr-2"
                  />
                )
              }
              <LanguageSelector
                showFlag={true}
                aria-label="Select language"
                class="block w-full p-2.5 rounded-lg bg-grey-200 border-grey-800  hover:bg-gray-100 text-black"
              />
            </div>
            <div
              class=" flex flex-wrap items-center justify-between"
            >
              <button
                data-collapse-toggle="mega-menu"
                type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-100 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-100 dark:text-gray-100 dark:hover:bg-gray-950 dark:focus:ring-gray-100 bg-violet-950"
                aria-controls="mega-menu"
                aria-expanded="false"
              >
                <span class="sr-only">Open main menu</span>
                <svg
                  class="w-5 h-5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 17 14"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 1h15M1 7h15M1 13h15"></path>
                </svg>
              </button>
            </div>
            <div
              id="mega-menu"
              class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
            >
              <ul
                class="flex flex-col mt-4 font-medium md:flex-row md:mt-0 md:space-x-8 rtl:space-x-reverse"
              >
              <li>
                <button
                  id="dropdownNavbarLink"
                  data-dropdown-toggle="subdropdownNavbar1"
                  class="flex items-center justify-between w-full py-2 px-3 rounded md:hover:bg-transparent border-b lg:border-0  md:p-0 md:w-auto dark:focus:text-white md:dark:hover:bg-transparent text-white"
                  >{t("menu.option1.title")}
                  <svg
                    class="w-2.5 h-2.5 ms-2.5"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 10 6"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="m1 1 4 4 4-4"></path>
                  </svg></button
                >
                <!-- Dropdown menu -->
                <div
                  id="subdropdownNavbar1"
                  class="dropdown z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-auto "
                >
                  <ul
                    class="py-2 text-sm"
                    aria-labelledby="dropdownLargeButton"
                  >
                    <li>
                      <a
                        href={`${base}/about`}
                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-violet-400 dark:hover:text-white"
                        >{t("menu.option1.subMenu.option1")}</a
                      >
                    </li>
                    <li>
                      <a
                      href={`${base}/industry-partners`}
                        class="block px-4 py-2 hover:bg-gray-100  dark:hover:bg-violet-400 dark:hover:text-white"
                        >{t("menu.option1.subMenu.option2")}</a
                      >
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <button
                  id="dropdownNavbarLink"
                  data-dropdown-toggle="subdropdownNavbar2"
                  class="flex items-center justify-between w-full py-2 px-3 rounded md:hover:bg-transparent border-b lg:border-0  md:p-0 md:w-auto dark:focus:text-white md:dark:hover:bg-transparent text-white"
                  >{t("menu.option2.title")}
                  <svg
                    class="w-2.5 h-2.5 ms-2.5"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 10 6"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="m1 1 4 4 4-4"></path>
                  </svg></button
                >
                <!-- Dropdown menu -->
                <div
                  id="subdropdownNavbar2"
                  class="dropdown z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-auto "
                >
                  <ul
                    class="py-2 text-sm"
                    aria-labelledby="dropdownLargeButton"
                  >
                    <li>
                      <a
                        href={`${base}/about`}
                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-violet-400 dark:hover:text-white"
                        >{t("menu.option2.subMenu.option1")}</a
                      >
                    </li>
                    <li>
                      <a
                      href={`${base}/industry-partners`}
                        class="block px-4 py-2 hover:bg-gray-100  dark:hover:bg-violet-400 dark:hover:text-white"
                        >{t("menu.option2.subMenu.option2")}</a
                      >
                    </li>
                    <li>
                      <a
                      href={`${base}/industry-partners`}
                        class="block px-4 py-2 hover:bg-gray-100  dark:hover:bg-violet-400 dark:hover:text-white"
                        >{t("menu.option2.subMenu.option3")}</a
                      >
                    </li>
                    <li>
                      <a
                      href={`${base}/industry-partners`}
                        class="block px-4 py-2 hover:bg-gray-100  dark:hover:bg-violet-400 dark:hover:text-white"
                        >{t("menu.option2.subMenu.option4")}</a
                      >
                    </li>
                    <li>
                      <a
                      href={`${base}/industry-partners`}
                        class="block px-4 py-2 hover:bg-gray-100  dark:hover:bg-violet-400 dark:hover:text-white"
                        >{t("menu.option2.subMenu.option5")}</a
                      >
                    </li>
                    <li>
                      <a
                      href={`${base}/industry-partners`}
                        class="block px-4 py-2 hover:bg-gray-100  dark:hover:bg-violet-400 dark:hover:text-white"
                        >{t("menu.option2.subMenu.option6")}</a
                      >
                    </li>
                    <li>
                      <a
                      href={`${base}/industry-partners`}
                        class="block px-4 py-2 hover:bg-gray-100  dark:hover:bg-violet-400 dark:hover:text-white"
                        >{t("menu.option2.subMenu.option7")}</a
                      >
                    </li>
                    <li>
                      <a
                      href={`${base}/industry-partners`}
                        class="block px-4 py-2 hover:bg-gray-100  dark:hover:bg-violet-400 dark:hover:text-white"
                        >{t("menu.option2.subMenu.option8")}</a
                      >
                    </li>
                    <li>
                      <a
                      href={`${base}/industry-partners`}
                        class="block px-4 py-2 hover:bg-gray-100  dark:hover:bg-violet-400 dark:hover:text-white"
                        >{t("menu.option2.subMenu.option9")}</a
                      >
                    </li>
  
                  </ul>
                </div>
              </li>
              <li>
                <button
                  id="dropdownNavbarLink"
                  data-dropdown-toggle="subdropdownNavbar3"
                  class="flex items-center justify-between w-full py-2 px-3 rounded md:hover:bg-transparent border-b lg:border-0  md:p-0 md:w-auto dark:focus:text-white md:dark:hover:bg-transparent text-white"
                  >{t("menu.option3.title")}
                  <svg
                    class="w-2.5 h-2.5 ms-2.5"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 10 6"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="m1 1 4 4 4-4"></path>
                  </svg></button
                >
                <!-- Dropdown menu -->
                <div
                  id="subdropdownNavbar3"
                  class="dropdown z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-auto "
                >
                  <ul
                    class="py-2 text-sm"
                    aria-labelledby="dropdownLargeButton"
                  >
                    <li>
                      <a
                        href={`${base}/about`}
                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-violet-400 dark:hover:text-white"
                        >{t("menu.option3.subMenu.option1")}</a
                      >
                    </li>
                    <li>
                      <a
                      href={`${base}/industry-partners`}
                        class="block px-4 py-2 hover:bg-gray-100  dark:hover:bg-violet-400 dark:hover:text-white"
                        >{t("menu.option3.subMenu.option2")}</a
                      >
                    </li>
                  </ul>
                </div>
              </li>
                <li>
                  <a
                    href="#"
                    class="block py-2 px-3 text-gray-900 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0  md:p-0 dark:text-white  dark:hover:bg-gray-700  md:dark:hover:bg-transparent dark:border-gray-100"
                    >{t("menu.gallery")}</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <hr class="my-4 border-gray-900 sm:mx-auto dark:border-gray-100 lg:my-8" />
    <div class="flex flex-wrap w-full  lg:justify-start items-center justify-center">
      <span class="text-xl text-gray-100 text-center dark:text-gray-100"
        ><a href="https://igeco.mx/aviso-de-privacidad" target="_blank" class="hover:underline"
          >{t("footer.privacy_policy")}</a
        > | <a href="https://igeco.mx/aviso-de-privacidad" target="_blank" class="hover:underline"
        >{t("footer.contact")}</a>
      </span>
    </div>
  </div>
</footer>
<style>
  .background {
    background-image: url("/worldseafood/img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
  }
</style>
