---
import i18next, { t } from "i18next";
import { LanguageSelector } from "astro-i18next/components";

const lang = i18next.language;
const base =
  lang === "es"
    ? "/worldseafood"
    : `/worldseafood/${lang}`;
---

<nav class="bg-violet-600 border-gray-600">
  <div class=" flex flex-wrap items-center justify-between mx-auto px-10 py-5 dark:border-white-700 shadow-lg">
    <a href={`${base}/`} class="flex items-center space-x-3 rtl:space-x-reverse">
      <img
        src="/worldseafood/img/worldseafood_logo.webp"
        class="w-auto lg:w-[200px] h-15 py-2 mx-5"
        alt="Flowbite Logo"
      />
    </a>
    <div class="flex items-center md:order-2 button-language">
      {
        i18next.language === "en" ? (
          <img
            src="/worldseafood/img/flag-us.svg"
            alt="us flag"
            class="h-6 w-6 rounded-full mr-2"
          />
        ) : (
          <img
            src="/worldseafood/img/flag-mexico.svg"
            alt="México flag"
            class="h-6 w-6 rounded-full mr-2"
          />
        )
      }
      <LanguageSelector
        showFlag={true}
        aria-label="Select language"
        class="block w-full p-2.5 rounded-lg bg-grey-200 border-grey-800 placeholder-green-400 text-black"
      />
    </div>
    <button
      data-collapse-toggle="navbar-dropdown"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-white dark:hover:bg-gray-200 dark:focus:ring-gray-100"
      aria-controls="navbar-dropdown"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
      <ul
        class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-white rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 bg-transparent w-full"
      >
        <li>
          <button
            id="dropdownNavbarLink"
            data-dropdown-toggle="dropdownNavbar1"
            class="flex items-center justify-between w-full py-2 px-3 rounded md:hover:bg-transparent border-b lg:border-0  md:p-0 md:w-auto dark:focus:text-white md:dark:hover:bg-transparent text-white"
            >{t("menu.option1.title")}
            <svg
              class="w-2.5 h-2.5 ms-2.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4"></path>
            </svg></button
          >
          <!-- Dropdown menu -->
          <div
            id="dropdownNavbar1"
            class="dropdown z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-auto "
          >
            <ul
              class="py-2 text-sm"
              aria-labelledby="dropdownLargeButton"
            >
              <li>
                <a
                  href={`${base}/about`}
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-violet-400 dark:hover:text-white"
                  >{t("menu.option1.subMenu.option1")}</a
                >
              </li>
              <li>
                <a
                href={`${base}/industry-partners`}
                  class="block px-4 py-2 hover:bg-gray-100  dark:hover:bg-violet-400 dark:hover:text-white"
                  >{t("menu.option1.subMenu.option2")}</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li>
          <button
            id="dropdownNavbarLink"
            data-dropdown-toggle="dropdownNavbar2"
            class="flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded md:hover:bg-transparent border-b md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto md:dark:hover:text-blue-500 dark:focus:text-white  md:dark:hover:bg-transparent"
            >{t("menu.option2.title")}
            <svg
              class="w-2.5 h-2.5 ms-2.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4"></path></svg
            ></button
          >
          <!-- Dropdown menu -->
          <div
            id="dropdownNavbar2"
            class="dropdown z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-auto "
          >
            <ul
              class="py-2 text-sm"
              aria-labelledby="dropdownLargeButton"
            >
              <li>
                <a
                  href={`${base}/exhibit`}
                  class="block px-4 py-2 text-white	 hover:bg-gray-100  dark:hover:bg-violet-400 dark:hover:text-white"
                  >{t("menu.option2.subMenu.option1")}</a
                >
              </li>
              <li>
                <a
                  href="https://etc2024.mapyourshow.com/8_0/exhview/index.cfm"
                  target="_blank"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-violet-400 dark:hover:text-white"
                  >{t("menu.option2.subMenu.option2")}</a
                >
              </li>
              <li>
                <a
                  href="https://etc2024.mapyourshow.com/8_0/exhview/index.cfm"
                  target="_blank"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-violet-400 dark:hover:text-white"
                  >{t("menu.option2.subMenu.option3")}</a
                >
              </li>
              <li>
                <a
                  href="https://etc2024.mapyourshow.com/8_0/exhview/index.cfm"
                  target="_blank"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-violet-400 dark:hover:text-white"
                  >{t("menu.option2.subMenu.option4")}</a
                >
              </li>
              <li>
                <a
                  href="https://etc2024.mapyourshow.com/8_0/exhview/index.cfm"
                  target="_blank"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-violet-400 dark:hover:text-white"
                  >{t("menu.option2.subMenu.option5")}</a
                >
              </li>
              <li>
                <a
                  href="https://etc2024.mapyourshow.com/8_0/exhview/index.cfm"
                  target="_blank"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-violet-400 dark:hover:text-white"
                  >{t("menu.option2.subMenu.option6")}</a
                >
              </li>
              <li>
                <a
                  href="https://etc2024.mapyourshow.com/8_0/exhview/index.cfm"
                  target="_blank"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-violet-400 dark:hover:text-white"
                  >{t("menu.option2.subMenu.option7")}</a
                >
              </li>
              <li>
                <a
                  href="https://etc2024.mapyourshow.com/8_0/exhview/index.cfm"
                  target="_blank"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-violet-400 dark:hover:text-white"
                  >{t("menu.option2.subMenu.option8")}</a
                >
              </li>
              <li>
                <a
                  href="https://etc2024.mapyourshow.com/8_0/exhview/index.cfm"
                  target="_blank"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-violet-400 dark:hover:text-white"
                  >{t("menu.option2.subMenu.option9")}</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li>
          <button
            id="dropdownNavbarLink"
            data-dropdown-toggle="dropdownNavbarVisitors"
            class="flex items-center justify-between w-full py-2 px-3 rounded md:hover:bg-transparent border-b lg:border-0  md:p-0 md:w-auto dark:focus:text-white md:dark:hover:bg-transparent text-white"
            >{t("menu.option3.title")}
            <svg
              class="w-2.5 h-2.5 ms-2.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4"></path>
            </svg></button
          >
          <!-- Dropdown menu -->
          <div
            id="dropdownNavbarVisitors"
            class="dropdown z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-auto "
          >
            <ul
              class="py-2 text-sm"
              aria-labelledby="dropdownLargeButton"
            >
              <li>
                <a
                  href={`${base}/about`}
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-violet-400 dark:hover:text-white"
                  >{t("menu.option3.subMenu.option1")}</a
                >
              </li>
              <li>
                <a
                href={`${base}/industry-partners`}
                  class="block px-4 py-2 hover:bg-gray-100  dark:hover:bg-violet-400 dark:hover:text-white"
                  >{t("menu.option3.subMenu.option2")}</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a
          href={`${base}/sponsorship`}
            class="block py-2 px-3 text-gray-900 rounded md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0  md:dark:hover:text-blue-500  dark:hover:text-white md:dark:hover:bg-transparent"
            >{t("menu.gallery")}</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
   li a {
    color: white;
  }
  li button {
    color: white;
  }
  .dropdown li a {
    color: black;
    text-shadow: none;
  }
  .dropdown li button {
    color: black;
    text-shadow: none;
  }
  .dropdown a {
    color: black;
    text-shadow: none;
  }
  .language-selector {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
  }
  .language-selector:focus {
    border: none;
    box-shadow: none;
    color: black;
  }
</style>
